:root {
  background-color: #c5e4e7;
}

* {
  font-family: "Space Mono", monospace;
  font-size: 24p;
  margin: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  font-size: 20px;
  color: #00494d;
  word-wrap: break-word;
  width: 80px;
  letter-spacing: 4px;
  line-height: 25px;
  margin: 5rem 0;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main-container .card-component {
  margin-top: 2rem;
  width: 100%;
  max-width: 700px;
  height: 300px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

.main-container .card-component > * {
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .main-container .card-component {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95vw;
    height: 100%;
  }
}

.card-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-left p {
  font-size: 0.6rem;
  color: #5e7a7d;
  font-weight: bolder;
  letter-spacing: 1.2px;
  line-height: 25px;
}

.card-left .bill {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-left .bill > * {
  width: 100%;
}

.card-left .people {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-left .people > * {
  width: 100%;
}

.card-left .select-tips {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-left .tip-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card-left .tip-buttons-container > button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  margin: 0 5px 8px 0;
  height: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  background: #00494d;
  border-radius: 4px;
  border: 0px;
}

@media only screen and (max-width: 767px) {
  .card-left .tip-buttons-container > button {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 0 5px 8px 0;
  }
}

.card-left .tip-buttons-container button:last-child {
  background: #eaedf0;
  color: #00494d;
}

.card-left input {
  border: none;
  height: 35px;
  color: #00494d;
  font-weight: bolder;
  background-color: #eaedf0;
  text-align: right;
  font-size: 24px;
  width: 100%;
}

.card-left input:focus {
  outline: none;
}

label {
  position: relative;
}

.dolar-label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0px;
  bottom: 0;
  width: 10px;
  height: 16px;
  margin-top: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='17'%3E%3Cpath fill='%239EBBBD' d='M6.016 16.328v-1.464c1.232-.08 2.22-.444 2.964-1.092.744-.648 1.116-1.508 1.116-2.58v-.144c0-.992-.348-1.772-1.044-2.34-.696-.568-1.708-.932-3.036-1.092V4.184c.56.144 1.012.4 1.356.768.344.368.516.816.516 1.344v.288h1.824v-.432c0-.448-.088-.876-.264-1.284a3.783 3.783 0 00-.744-1.116A4.251 4.251 0 007.54 2.9a5.324 5.324 0 00-1.524-.492V.872H4.288V2.36a5.532 5.532 0 00-1.416.324c-.448.168-.84.392-1.176.672-.336.28-.604.616-.804 1.008-.2.392-.3.844-.3 1.356v.144c0 .96.316 1.708.948 2.244.632.536 1.548.884 2.748 1.044v3.912c-.704-.16-1.248-.472-1.632-.936-.384-.464-.576-1.08-.576-1.848v-.288H.256v.576c0 .464.08.924.24 1.38.16.456.404.88.732 1.272.328.392.744.728 1.248 1.008s1.108.476 1.812.588v1.512h1.728zM4.288 7.424c-.688-.128-1.164-.332-1.428-.612-.264-.28-.396-.644-.396-1.092 0-.464.176-.832.528-1.104.352-.272.784-.448 1.296-.528v3.336zm1.728 5.712V9.344c.768.128 1.328.328 1.68.6.352.272.528.688.528 1.248 0 .544-.196.984-.588 1.32-.392.336-.932.544-1.62.624z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 8px;
}

.people-label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 5px;
  bottom: 0;
  width: 10px;
  height: 16px;
  margin-top: 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='16'%3E%3Cpath fill='%239EBBBD' d='M9.573 7.729c.406 0 .784.07 1.126.209.342.14.639.33.881.569.232.227.438.503.614.82a5.1 5.1 0 01.407.949c.097.312.178.654.242 1.016.062.359.105.699.126 1.011.02.307.031.624.031.945 0 .836-.259 1.512-.768 2.01-.504.492-1.17.742-1.98.742H2.748c-.81 0-1.477-.25-1.98-.742C.259 14.76 0 14.084 0 13.248c0-.322.01-.64.032-.945.02-.312.063-.652.126-1.01.063-.363.144-.705.242-1.017.1-.323.238-.643.407-.948.176-.318.382-.594.613-.821.243-.238.54-.43.882-.57.342-.138.72-.208 1.125-.208.16 0 .313.067.61.265.183.123.397.264.636.421.204.134.48.259.822.372.333.11.671.167 1.005.167a3.19 3.19 0 001.006-.167c.341-.113.618-.238.822-.372l.636-.42c.296-.2.45-.266.61-.266zM6.598 0C7.63 0 8.522.38 9.252 1.129s1.1 1.666 1.1 2.724c0 1.06-.37 1.976-1.1 2.725-.73.75-1.623 1.13-2.654 1.13-1.03 0-1.924-.38-2.653-1.13-.73-.749-1.1-1.666-1.1-2.725 0-1.058.37-1.975 1.1-2.724C4.675.379 5.567 0 6.598 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 8px;
}

.card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #00494d;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 767px) {
  .card-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 250px;
  }
}

.card-right .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  color: white;
  margin-bottom: 20px;
}

.card-right .row p {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.card-right .row p > span {
  margin-top: 4px;
  font-size: 0.5rem;
  color: #7f9c9f;
}

.card-right .row p:last-of-type {
  font-size: 1.8rem;
  color: #26c0ab;
  font-weight: 800;
}

.card-right button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 10px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  background-color: #26c0ab;
  border: 1px solid #26c0ab;
  border-radius: 8px;
  height: 35px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #00494d;
}
/*# sourceMappingURL=style.css.map */