$bg-color: hsl(185, 42%, 84%);
$strong-color: hsl(172, 67%, 45%);
$verydark: hsl(183, 100%, 15%);
$darkgrayish: hsl(186, 14%, 43%);
$darkergrayish: hsl(184, 14%, 56%);
$lightgrayish: hsl(185, 41%, 84%);
$lightgrayish: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$font-size: 24p;

$border-radius: 10px;

$breakpoints: (
  phone: 768px,
  desktop: 1024px,
) !default;

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
